body {
    background-color: #242f44;
    color: white;
      font-family: 'Oswald', sans-serif;
  }
  
  header {
    text-align: center;
    margin-top: 5px;
  }
  
  h1 {
    font-size: 40px;
    padding: 15px;
    color: #e7204e;
  }
  
  h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #8c6b48;
  }

  h3 {
    font-size: 22px;
    text-transform: uppercase;
    color: #8c6b48;
    padding-bottom: 10px;
  }
  
  /* h3 {
    font-size: 20px;
    text-transform: uppercase;
    text-align: left;
    margin-left: 20px;
    font-weight: 500;
    line-height: 1.7;
    letter-spacing: 0.8px;
  } */
  

  th {
    border: 2px solid #8c6b48;
    padding: 10px;
    background-color:white
  }
  
  table {
    text-align: center;
    margin: 20px auto;
  }
  
  .center {
    border: 2px solid #8c6b48;
    width: 400px;    
  }
  td {
    border: 2px solid #8c6b48;
    width: 200px;
    padding: 20px;
    vertical-align: middle
  }
  

  footer {
    margin-top: 50px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 5px;
    background-color: #242f44;
    z-index: 5;
    color: #8c6b48;
  }
  footer h3 {
    display: inline-block;
    font-size: 14px;
    background-color: #242f44;
  }
  
  .container {
    max-width: 840px;
    margin:0 auto;
  }
  
  .left {
    width: 150px;
  }
  .center {
    width: 500px;
  }
  img{
    width: 100%;
  }
  table img {
    width: 18%;
    float: left;
    
  }

  input{
    color: #ffffff;
    background-color: #8c6b48;
    border-radius: 3em;
    cursor: pointer;
    padding:15px;
    font-family: Helvetica, Arial, Verdana, sans-serif;;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;

  }
  
